h1 {
  font-size: 40px;
  font-family: helvetica;
}
h2 {
  font-family: helvetica;
}
h3 {
  font-family: helvetica;
}
h4 {
  font-family: helvetica;
}

p{
  font-size: 12px;
  font-family: helvetica, Arial, sans-serif,;
}
  // hopefully this is how I add a comment to css.
